<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie
                    justo. Sed nec molestie justo.</p>
            </div>
            <div class="col-md-4">
                <h3>Footer header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie
                    justo. Sed nec molestie justo.</p>
            </div>
            <div class="col-md-4">
                <h3>Footer header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie
                    justo. Sed nec molestie justo.</p>
            </div>
        </div>
    </div>
</footer>